* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

html {
  font-size: $base-fs;
  line-height: $base-lh;
  font-weight: $base-fw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  @include phone {
    font-size: 14px;
  }
}

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  @include body-gr;
  @include bg-settings();
  color: $white;
  margin: 0;

  &::after {
    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 100%;
    height: 100%;
    content: '';

    background: url(../../static/img/svg/ellipse-bg.svg) repeat 50% 0;
    opacity: 0.3;
  }

  &::before {
    position: absolute;
    left: 422px;
    top: -165.88px;

    display: block;
    width: 1409.71px;
    height: 529.4px;

    content: '';

    background: #8349FF;
    filter: blur(452px);
    transform: rotate(-6.48deg);
    z-index: 1;
  }
}

main {
  -webkit-overflow-scrolling: touch;
}

canvas {
  display: block; 
}

p {
  margin: 0;
  font-family: $base-ff;
}

div, a, button, pre {
  font-family: "Inter", sans-serif;
}

pre {
  margin: 0;
}

// container
.wrapper {
  width: 100%;
  max-width: 1920px;
  padding: 0 30px;
  margin: 0 auto;
  z-index: 10;
  position: relative;
  @include phone {
    width: 100%;
    padding: 0 15px;
  }
}

// grid
.row {
  display: flex;
  flex-wrap: wrap;
}

// message
.copy-message {
  @include pseudo-element('', none);
  opacity: 0;

  font-family: $title-ff;
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  right: 0;
  top: -20%;

  padding: 4px 8px;
  background: $white;
  color: $black;
  border-radius: 15px;

  animation: is-copy 0.5s;

  &.is-copy {
    opacity: 1;
    display: block;
  }

  @include phone {
    top: -30%;
  }
}

