
@font-face {
  font-family: 'Roboto';
  src: url('../../static/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../static/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../../static/fonts/Ubuntu-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../../static/fonts/Ubuntu-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, .h1, .h2, .h3  {
  font-family: $title-ff;
  font-weight: $title-fw;
  line-height: $title-lh;
  margin-top: 0;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .h1 {
  font-size: 1.5rem;
  line-height: 100%;
  color: $white;
}

h2, .h2 {
  font-size: 3.052rem;
}

.bold-number {
  font-size: 4rem;
  font-weight: $title-fw;
  line-height: $title-lh;

  @include phone {
    font-size: 4rem;
  }
}


