.page-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 60px);

  .wrapper {
    height: 100%;
  }

  .page-front-title {
    font-size: 0.7rem;
    padding-left: 155px;
    @include phone {
      padding-left: 0;
    }

    p {
      letter-spacing: 1px;
    }
  }

  h1 {
    font-size: 3.85rem;
    margin-bottom: 28px;
    @include phone {
      font-size: 1.7rem;
    }
  }
}