body {
  &.load {
    .page-post {
      .load-bg {
        animation: load-bg 1s;
        animation-direction: alternate-reverse;
        animation-fill-mode: forwards;
        z-index: -1;
      }
    }
  }
}

.page-post {
  position: relative;
  overflow: hidden;
  margin-top: -60px;
  z-index: 2;
  @include phone {
    margin-top: -55px;
  }

  .wrapper {
    @include phone {
      padding: 0;
    }
  }

  // for loading
  .load-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #4744e2;
    border-radius: 22px;
    z-index: 2;
  }

  // toke card
  .token-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh);

    h1 {
      margin-bottom: 15px;
      @include phone {
        font-size: 1.7rem;
      }
    }
  }

  .token-card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    min-height: 485px;
    padding: 40px 40px;
    transform: translateX(250px);
    @include phone {
      width: 300px;
      min-width: 300px;
      min-height: 400px;
      transform: translateX(0);
      padding: 30px 40px;
    }

    &::before {
      @include pseudo-element();
      width: 100%;
      height: 100%;
      border-radius: 22px;
      box-shadow: $shadow;
      @include card-gr();

      left: 0;
      top: 0;
      z-index: -1;

      backdrop-filter: blur(147.037px);
      opacity: 0.36;
      mix-blend-mode: normal;
    }
  }

  .token-card-head {
    font-size: 1.5rem;
    font-weight: $title-fw;

    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $white;

    @include phone {
      padding-bottom: 15px;
      margin-bottom: 10px;
      font-size: 1.7rem;
    }

    .copy-message {
      top: -25px;
    }
  }

  .token-card-copied {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .token-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .token-card-codes {
    font-size: 0.7rem;
    list-style: none;
    padding: 0;
    margin: 30px 0 10px;

    color: $gray;

    @include phone {
      font-size: 1rem;
    }

    li {
      position: relative;
      font-size: 1rem;
      margin: 8px 0;

      &:first-child {
        margin-top: 12px;
      }
    }
  }

  .token-card-desc {
    font-size: 0.7rem;
  }

  .token-icon {
    width: 45px;
    height: 45px;
    @include bg-settings(no-repeat, 50%, contain);
    margin-right: 10px;

    @include phone {
      width: 35px;
      height: 35px;
    }
  }

  // toke card END

  // token slider
  .token-slider-pagin {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    @include phone {
      right: 15px;
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: -12px 0;

      @include phone {
        margin: -6px 0;
      }

      li {
        display: flex;
        justify-content: flex-end;
        margin: 12px 0;

        @include phone {
          margin: 6px 0;
        }

        &.slick-active {
          button {
            opacity: 1;
          }
        }

        button {
          display: flex;
          align-items: center;
          padding: 0;
          outline: none;
          background-color: transparent;
          border: none;
          opacity: 0.3;
          color: $white;
          transition: opacity 0.4s;
          cursor: pointer;

          @include phone {
            font-size: 0;
          }

          &::after {
            display: block;
            content: '';
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color: $white;

            @include phone {
              width: 10px;
              height: 10px;
            }
          }

          span {
            display: block;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .token-ellipse {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1115px;
    width: 1115px;
    transform: translate(-45%, -50%);
    @include phone {
      display: none;
    }

    svg {
      width: 100%;
      height: 100%;
      transform: rotate(-60deg);
      transition: transform 0.8s;

      g {
        &:not(:first-child) {
          filter: blur(20px);
          transition: filter 0.8s;
        }

        &.active {
          &:not(:first-child) {
            filter: blur(0);
            transition: filter 0.8s;
            transition-delay: 0.8s;
          }
        }
      }
    }
  }

  .token-icon-for-ellipse {
    position: absolute;
    left: 388px;
    top: 50%;
    transform: translateY(-50%);
    width: 78px;
    height: 78px;
    background-color: $white;
    border-radius: 5px;
    @include bg-settings(no-repeat, 50%, contain);

    opacity: 0;
    filter: blur(5px);

    @include phone {
      display: none;
    }
  }
  .slick-active {
    .token-icon-for-ellipse {
      opacity: 1;
      filter: blur(0);
      transition: opacity 0.2s, filter 0.4s ease-in;
      transition-delay: 0.8s;
    }
  }
}