input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.contacts-page__contacts-form {
  max-width: 392px;
  input {
      display: block;
      margin-bottom: 16px;
      width: 100%;
      &::placeholder {
          color: #A5B6C5;
          font-size: 0.889rem;
      }
  }
  textarea {
      width: 100%;
      resize: none;
      margin-bottom: 16px;
      max-height: 144px;
      &::placeholder {
          color: #A5B6C5;
          font-size: 0.889rem;
      }
      @include phone {
          margin-bottom: 12px;
      }
  }
  .btn {
    @include phone {
        width: 100%;
        margin-bottom: 46px;
    }
  }
}

.agree {
  font-size: 12px;
  line-height: 130%;
  color: $s-blue;
  margin-bottom: 32px;
  font-family: $base-ff;
  @include phone {
      font-size: 11px;
  }
}

.agree-link {
  color: $s-blue;
  text-decoration: underline;
  text-underline-position: under;
}





