body {
  &.load {
    .main-header {
      opacity: 1 !important;
      transform: translateY(0) !important;
    }
  }
}

.main-header {
  position: relative;
  min-height: 60px;
  padding-top: 20px;
  z-index: 3;
  //opacity: 0;
  //transform: translateY(-100%);
  transition: transform 1s, opacity 1s;

  @include phone {
    padding-top: 30px;
  }

  .header-visible {
    justify-content: space-between;
    align-items: center;
  }

  .header-icon,
  .header-category {
    align-items: center;
  }

  .header-category {
    a {
      font-family: $title-ff;
      font-weight: $title-fw;
      font-size: 0.85rem;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 160px;
      text-transform: uppercase;
      padding: 5px 15px;
      border: 1px solid $violet;
      transition: background-color 0.4s;
      @include phone {
        min-width: 100px;
      }

      &:not(:first-child) {
        margin-left: 30px;
        @include phone {
          margin-left: 20px;
        }
      }

      &:hover {
        background-color: $violet;
      }
    }
  }

  .telegram-link {
    margin-left: 37px;

    @include phone {
      margin-right: 20px;
    }
  }

}