
.modal {
  position: fixed;
  top: 50%;
  z-index: 100;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: #fff;
  border-radius: 5px;
  width: 1200px;
  @include phone {
    width: calc(100% - 25px);
    max-height: 100vh;
    max-width: calc(100% - 25px);
  }
}

