// keyframes
@keyframes load-bg {
  100% {
    display: block;
    opacity: 1;
    z-index: 2;
  }
  0% {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes is-copy {
  0% {
    display: none;
    opacity: 0;
    z-index: -1;
  }

  100% {
    display: block;
    opacity: 1;
    z-index: 2;
  }
}