// fonts
$base-ff: 'Roboto', sans-serif;
$title-ff: 'Ubuntu', sans-serif;

// font size
$base-fs: 20px;
$middle-fs: 1.15rem;

// line height
$base-lh: 1.1;
$title-lh: 1.2;

// font weight
$base-fw: 400;
$title-fw: 700;

// mobile font size
$base-fs-phone:  $base-fs - 1.5;

// media
$sm-phone: 375px;
$phone: 1200px;
//$tablet: 767px;

// gradient
$body-gr: linear-gradient(136.81deg, #AD0DD4 0%, #0066FF 97.09%);
$card-gr: linear-gradient(140.14deg, rgba(24, 24, 159, 0.9) -1.83%, #2068F7 121.01%, #0007AC 121.01%), #C2EDFF;

// bg
$ellipse-bg: #00FFFF;

// color
$white: rgb(255, 255, 255);
$gray: #C4C4C4;
$violet: #E43CFF;
$black: #0A0A0A99;

// box shadow
$shadow: 1.4345px 2.86901px 88.9393px 10.0415px rgba(7, 16, 32, 0.7);

