.btn {
  background: none;
  padding: 0;
  color: $white;
  border: none;
  border-radius: 5px;
  font-family: $base-ff;
  background: transparent;

  &:hover {
    background: transparent;
  }

  &:active {
    background: transparent;
  }

  &.menu-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;

    @include phone {
      width: 25px;
      height: 25px;
    }

    svg {
      width: 100%;
      height: 100%;
      transition: transform 0.4s;
    }

    &:hover {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}