a {
  font-family: $base-ff;
  text-decoration: none;
  outline: none;
  color: $white;
  transition: color 0.4s;
  &:hover {
    outline: none;
  }

  &:focus, &:active {
    outline: none;
  }
}

.telegram-link {
  display: flex;
  width: 30px;
  height: 30px;
  transition: transform 0.4s;
  will-change: contents, transform;

  @include phone {
    width: 25px;
    height: 25px;
  }

  &:hover {
    transform: scale(1.05);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}