.modal-shadow {
    background: rgba(1, 52, 88, 0.45);
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
  }


  .modal {
    position: fixed;
    top: 50%;
    z-index: 100;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: #fff;
    border-radius:5px;
    padding: 72px 48px;
    padding-right: 32px;
    width: 1200px;
    @include phone {
      width: calc(100% - 25px);
      max-height: 100vh;
      padding: 32px 16px;
      padding-top: 50px;
      max-width: calc(100% - 25px);
      
    }
  }


.modal-wrap {
    opacity: 0;
    will-change: opacity;
    position: relative;
    z-index: -1;
  }


.modal-show {
    opacity: 1;
    transition: opacity 0.5s;
    will-change: opacity;
    z-index: 10000;
    position: relative;
}


  .modal-wrapper {
    position: relative;
    max-height: 660px;
    padding-right: 20px !important;
    overflow-y: scroll;
    width: 100%;
    padding: 0;
    .container-сheckbox{
      margin-bottom: 0 !important;
    }
    @include phone {
      max-height: 360px;
    }
    &::-webkit-scrollbar {
      width: 3px;
      transform: translateX(20px), translateY(80px);
      @include phone {
        width: 2px;
        position: absolute;
        max-height: 1px;
        top: 100px;
      }
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
    //   background: $grey;
    background: $l-blue;
      border-radius: 10px;
      height: 10px;
      max-height: 10px;
    }
     
    /* Handle */
    &::-webkit-scrollbar-thumb {
    //   background: $green; 
    background: $d-blue;
      border-radius: 10px;
      max-height: 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
    //   background: $green; 
    }
}


.modal-cross {
    position: absolute;
    top: 32px;
    right: 32px;
    z-index: 10;
    &:hover {
      cursor: pointer;
    }
    @include phone {
      width: 16px;
      height: 16px;
      top: 16px;
      right: 16px;
      img {
        width: 16px;
        height: 16px;
      }
    }
}


.yoga-modal {
    color: $d-blue;
    .modal__title {
        text-align: center;
        margin-bottom: 56px;
        @include phone {
            margin-bottom: 32px;
            font-size: 34px;
            text-align: left;
            max-width: 286px;
        }
    }


    // .modal {
    //   background-image: url('../static/img/yoga-bg.png');
    //   background-size: cover;
    //   background-repeat: no-repeat;
    // }

 
    .yoga-modal-content__main-text {
        margin-bottom: 56px;
        @include phone {
            margin-bottom: 32px;
        }
        p {
            font-size: 1rem;
            margin-bottom: 24px;
            color: $d-blue;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .gallery {
        background: none;
        margin-bottom: 56px;
        padding-top: 0;
        padding-bottom: 0;
        @include phone {
          margin-bottom: 40px;
        }
        .wrapper {
          padding: 0;
        }
    }
}

.modal-content {
    padding-right: 32px;
    @include phone {
      padding-right: 10px;
    }
}

.yoga-features {
    .yoga-featues__title {
        font-size: 28px;
        line-height: 37px;
        margin-bottom: 56px;
        @include phone {
          margin-bottom: 32px;
          font-size: 27px;
          line-height: 36px;
        }
    }
    .fetures-container {
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        @include phone {
          padding-left: 10px;
          padding-right: 10px;
        }
    }
    .features-title {
        margin: 0;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        @include phone {
          margin-bottom: 8px;
        }
        &:before {
            content:  " ";
            width: 18px;
            padding-top: 15px;
            display: inline-block;
            height: 11px;
            position: relative;
            left:     -15px;
            background-image: url('../static/img/svg/checklist.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: block;
            flex-shrink: 0;
            @include phone {
              left:  -10px;
            }
          //   color: $green;
          }
    }
    .features-item {
        max-width: 399px;
        margin-bottom: 37px;
        @include phone {
          margin-bottom: 32px;
        }
    }
    .features-text {
        padding-left: 18px;
    }

}

.cite {
    font-family: $title-ff;
    font-size: 22px;
    line-height: 29px;
    margin-top: calc(56px - 37px);
    font-style: italic;
    @include phone {
      margin-top: 8px;
    }
}


.callback-modal, .success-modal {
  .contacts-page__contacts-form {
    width: 100%;
  }
  .modal__title {
    font-size: 1rem;
    line-height: 27px;
    margin-bottom: 40px;
    font-family: $base-ff;
    font-style: normal;
    color: $d-blue;
    @include phone {
      margin-bottom: 24px;
      max-width: 90%;
      line-height: 22px;
    }
  }

  .modal {
    max-width: 587px;
    background-color: $l-grey;
    padding: 54px 100px;
    padding-bottom: 72px;
    min-height: 450px;
    @include phone {
      padding: 32px 14px;
    }
  }

  .modal-wrapper {
    overflow-y: hidden;
    @include phone {
      max-height: 100%;
    }
  }

 .modal .modal-wrapper .modal-content .contacts-page__contacts-form .btn {
    @include phone {
      margin-bottom: 0;
    }
  }

  .modal-cross {
    top: 54px;
    height: 54px;
    @include phone {
      top: 32px;
      right: 16px
    }
  }

  .modal-content {
    padding-right: 0;
  }


 
  .success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 78px;
    .success_title {
      margin-bottom: 58px;
      @include phone {
        margin-bottom: 40px;
      }
    }
    .success_subtitle {
      font-size: 23px;
      color: $d-blue;
      max-width: 310px;
      margin: 0 auto;
      @include phone {
        font-size: 18px;
      }
    }
  }

  .success-bg {
    background-image: url('../static/img/success-bg.png');
    background-size: cover;
  }
}


.callback-modal {
  @include phone {
    padding-right: 0 !important;
  }
}

.show-success {
  .modal {
    background-image: url('../static/img/success-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  }
  .modal-wrapper {
    overflow-y: auto;
  }
  .success {
    display: flex;
  }
}

.success-modal .modal {
  background-image: url('../static/img/success-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.hide-modal-content {
  display: none;
}


.policy-modal {
  color: $d-blue;
  font-size: 1rem;
  .modal {
    max-width: 630px;
    background: $l-grey;
  }
  .policy__title {
    margin-bottom: 20px;
    color: $d-blue; 
    font-size: 28px;
    @include phone {
      font-size: 20px;
    }

}

.policy-text {
    p {
       margin-bottom: 20px;
       font-size: 16px;
       line-height: 20px;
       @include phone {
         font-size: 12px;
         line-height: 15px;
       }
    }

  ul {
    padding-left: 5px;
    list-style: none;
    font-size: 16px;
    margin-bottom: 20px;
    @include phone {
      margin-bottom: 20px;
    }
    & li {
      margin-bottom: 0px;
      line-height: 120%;
      @include phone {
        margin-bottom: 0px;
        font-size: 12px;
      }
    }

    & li:before {
      content:  "—";
      position: relative;
      left:     -5px;
    //   color: $green;
    }

  }

  h3 {
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: normal;
    font-family: $base-ff;
    font-style: normal;
    @include phone {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
  }
}


#cookie_notification {
    display: none;
    position: fixed;
    bottom:65px;
    left: 0;
    right: 0;
    z-index: 99;
    color: $d-blue;

    .wrapper {
      display: flex;
      justify-content: center;
    }

    
  
    &.show {
      display: block;
    }
  
    @include tablet {
      font-size: 15px;
      line-height: 20px;
      padding: 30px 0;
    }
  
    .cookie-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 797px;
      background: $white;
      padding: 24px 28px;
      border-radius: 5px;
      font-size: 14px;
      line-height: 157%;
      @include phone {
        flex-direction: column;
        align-items: flex-start;
        padding: 32px 16px;
      }
    }
  
    p {
      max-width: 67%;
      margin: 0;
      @include tablet {
        max-width: 70%;
      }
      @include phone {
        max-width: initial;
        width: 100%;
      }
    }
  
    .cookie_accept {
      display: block;
      color: $d-blue;
      border-bottom-color: $d-blue;
      background: none;
      border: none;
      text-decoration: underline;
      text-underline-offset: 5px;
      text-decoration-thickness: from-font;
      transition: text-decoration 0.4s;
      @include phone {
        margin-top: 8px;
      }
  
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }






